doctype html
html
  head
    title Kuvonch
    link(rel='stylesheet' href='/static/main.css')

  body 
    header.header
      h1 Otaboev App

      nav.nav
        a(href='/notes') All Notes
        a(href='/archive') Archive

    block content 